################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs/
bin
obj
packages
*.obj

[Bb]in/
[Oo]bj/
[Dd]ebug/

x64/
x86/

project.lock.json
project.fragment.lock.json
artifacts/

/WorkDays/.vs/
/WorkDays/obj/
/WorkDays/bin/
/WorkDays/WorkDays/obj/
/WorkDays/WorkDays/bin/
/WorkDays/.vs/WorkDays/v16/Server/sqlite3
/WorkDays/obj/Debug/netcoreapp3.1
/WorkDays/bin/Debug/netcoreapp3.1
/WorkDays/.vs/WorkDays/v16
