################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WorkDays/.vs/WorkDays/v16/Server/sqlite3
