################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WorkDays/.vs/WorkDays/v16/Server/sqlite3
/WorkDays/obj/Debug/netcoreapp3.1
/WorkDays/bin/Debug/netcoreapp3.1
/WorkDays/.vs/WorkDays/v16
