@using System.Globalization
@model WorkDays.ViewModels.HomeViewModel
<head>
    <link rel="stylesheet" href="~/css/HomePage.css" />
</head>
<br />
<div id="titleText" class="text-center">
    <h1>Alege saptamana si persoanele care vor veni la birou</h1>
</div>
<br />
<br />

<div id="weekDetails" class="container-fluid" style="min-height: 100px">
    <div class="row">

        <div class="col-md-4">Inceput saptamana:<div id="weekStart"></div> </div>
        <input type='text' id='weeklyDatePicker' class="form-control col-md-4" placeholder="Select Week" />
        <div class="col-md-4">Sfarsit saptamana: <div id="weekEnd"></div> </div>
    </div>
</div>
<div id="DaysSelection">
    @Html.Partial("_EmployeeSelection", Model)
</div>
<br />
<br />
<div class="container-fluid text-center">
    <div id="SendEmail" onclick="" class="btn btn-outline-success">Trimite mail</div>
</div>

<div style="margin-bottom: 100px;"></div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            moment.locale('en', {
                week: { dow: 1 } // Monday is the first day of the week
            });
            var mindate = moment().subtract(2, 'weeks').endOf('isoWeek');
            //Initialize the datePicker
            $("#weeklyDatePicker").datetimepicker({
                format: 'MM-DD-YYYY',
                minDate: mindate
            });

            //Get the value of Start and End of Week
            $('#weeklyDatePicker').on('dp.change', function (e) {
                var value = $("#weeklyDatePicker").val();
                var firstDate = moment(value, "MM-DD-YYYY").day(0).format("MM-DD-YYYY");
                var lastDate = moment(value, "MM-DD-YYYY").day(6).format("MM-DD-YYYY");
                $("#weeklyDatePicker").val(firstDate + " - " + lastDate);
            });
        });
    </script>
}
