@model WorkDays.ViewModels.HomeViewModel
<head>
    <link rel="stylesheet" href="~/css/HomePage.css" />
</head>
<br />
<div id="titleText" class="text-center">
    <h1>Alege ziua si persoanele care vor veni la birou</h1>
</div>
<br />
<br />
<div id="weekDetails" class="container-fluid" style="min-height: 100px">
    <div class="row">
        @*TODO: Selectie saptamana + afisare *@
        <div class="col-md-4">Saptamana xx</div> @*TODO: Add from model*@
        <div class="col-md-4">Inceput saptamana: #saptamana.day1 </div>
        <div class="col-md-4">Sfarsit saptamana: #saptamana.day5 </div>
    </div>
</div>
<div id="DaysSelection">
    @Html.Partial("_EmployeeSelection", Model)
</div>
<br />
<br />
<div class="container-fluid text-center">
    <div class="btn btn-outline-success">Trimite mail</div>
</div>

<div style="margin-bottom: 100px;"></div>