@using System.Globalization
@model WorkDays.ViewModels.HomeViewModel
<head>
    <link rel="stylesheet" href="~/css/HomePage.css" />
</head>
<br />
<div id="titleText" class="text-center">
    <h1>Alege ziua si persoanele care vor veni la birou</h1>
</div>
<br />
<br />
@{
    DateTimeFormatInfo dateTimeFormatInfo = DateTimeFormatInfo.CurrentInfo;
    Calendar calendar = dateTimeFormatInfo.Calendar;
    string week = string.Empty;
}

<div id="weekDetails" class="container-fluid" style="min-height: 100px">
    <div class="row">
        <div class="col-md-4">
            <input type="week" value="@week" class="form-control" id="Week" />
        </div>
        <div class="col-md-4">Inceput saptamana: #saptamana.day1 </div>
        <div class="col-md-4">Sfarsit saptamana: #saptamana.day5 </div>
    </div>
</div>
<div id="DaysSelection">
    @Html.Partial("_EmployeeSelection", Model)
</div>
<br />
<br />
<div class="container-fluid text-center">
    <div class="btn btn-outline-success">Trimite mail</div>
</div>

<div style="margin-bottom: 100px;"></div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            // Add weekpicker
            if (navigator.userAgent.indexOf("Firefox") != -1 || navigator.userAgent.indexOf("Trident") != -1) {
                $('#Week').datepicker({
                    calendarWeeks: true,
                    weekStart: 1
                });
            };
        });

        $('#Week').on('changeDate', function (e) {
            var value = $("#Week").val();
            var year = moment().format('YYYY');
            var week = moment(e.date).format('WW');
            $("#Week").val(year + '-W' + week);
        });

    </script>
}
