.flex-container {
    display: flex;
    min-width: 700px;
}

.flex-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.customLabel {
    white-space: nowrap;
    margin: 1.00em 0;
    border-color: lightblue;
    border-style: solid;
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 7px;
    padding: 5px;
}

#empSelectionMondayTuesday input[type=checkbox] {
    display: none;
}

    #empSelectionMondayTuesday input[type=checkbox]:checked + .customLabel {
        background-color: lightblue;
    }

#empSelectionMondayTuesday .customLabel {
    border-color: lightblue !important;
}

    #empSelectionMondayTuesday .customLabel:hover {
        background-color: #deeff5;
    }

#empSelectionWednesdayThursday input[type=checkbox] {
    display: none;
}

    #empSelectionWednesdayThursday input[type=checkbox]:checked + .customLabel {
        background-color: lightsalmon;
    }

#empSelectionWednesdayThursday .customLabel {
    border-color: lightsalmon !important;
}

    #empSelectionWednesdayThursday .customLabel:hover {
        background-color: #ffc6af;
    }

.btn-salmon {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}

    .btn-salmon:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }

.big-container {
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
}

/* Week picker */
.datepicker-days > table > tbody > tr:hover {
    background-color: #808080;
}
