.flex-container {
    display: flex;
    min-width: 700px;
}

.flex-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.customLabel {
    border-color: lightblue;
    border-style: solid;
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
    min-height: 60px;
    border-radius: 7px;
    padding: 5px;
}

#empSelectionMondayTuesday input[type=checkbox] {
    display: none;
}

    #empSelectionMondayTuesday input[type=checkbox]:checked + .customLabel {
        background-color: lightblue;
    }

#empSelectionWednesdayThursday input[type=checkbox] {
    display: none;
}

    #empSelectionWednesdayThursday input[type=checkbox]:checked + .customLabel {
        background-color: lightsalmon;
    }

#empSelectionWednesdayThursday .customLabel {
    border-color: lightsalmon !important;
}
