.customLabel {
    white-space: nowrap;
    margin: 1.00em 0;
    border-color: lightblue;
    border-style: solid;
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 7px;
    padding: 5px;
}

#empSelectionMondayTuesday input[type=checkbox] {
    display: none;
}

    #empSelectionMondayTuesday input[type=checkbox]:checked + .customLabel {
        background-color: lightblue;
    }

#empSelectionMondayTuesday .customLabel {
    border-color: lightblue !important;
}

    #empSelectionMondayTuesday .customLabel:hover {
        background-color: #deeff5;
    }

#empSelectionWednesdayThursday input[type=checkbox] {
    display: none;
}

    #empSelectionWednesdayThursday input[type=checkbox]:checked + .customLabel {
        background-color: lightsalmon;
    }

#empSelectionWednesdayThursday .customLabel {
    border-color: lightsalmon !important;
}

    #empSelectionWednesdayThursday .customLabel:hover {
        background-color: #ffc6af;
    }

.big-container {
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
}

/* Week picker */
.datepicker-days > table > tbody > tr:hover {
    background-color: #808080;
}

.bootstrap-datetimepicker-widget .datepicker-days table tbody tr:hover {
    background-color: #eee;
}
